@import '../variables.modules';

.dark {
  background-color: transparent;
  color: $white;
  transition: all 400ms;
  a,
  i,
  li {
    color: $white;
    transition: color 400ms;
  }

  a:visited {
    color: $white;
  }

  
}

